<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

    <th:block th:fragment="jobs-list" th:each="job: ${jobs}">
        <table class="centeredTable job-listing">
            <th:block th:each="field: ${jobFields}">
                <tr>
                    <td th:text="${field.value}"></td>
                    <td th:if="${field.key.equals('id') || field.key.equals('name')}" th:text="${job['__${field.key}__']}"></td>
                    <td th:unless="${field.key.equals('id') || field.key.equals('name')}"> <a th:href="@{/list/jobs(column=${field.key},value=${job['__${field.key}__']})}" th:text="${job['__${field.key}__']}"></a></td>
                </tr>
            </th:block>
        </table>
    </th:block>
</div>

</body>
</html>